@import url(http://fonts.googleapis.com/css?family=VT323);

body {
	background: black;
	font-family: 'Geo', sans-serif;
	margin: 0;
	height: 100%;
	text-align: center;
	width: 100%;
}
#game {
	border: 5px solid white;
	margin-top: 100px;
}

.magazine {
	color: white;
	position: fixed;
	top: 130px; left: 20%;
	width: 800px;
}
.rounds{
	display: inline-block;
	font-size: 60pt;
	margin: 15px;
}
.rounds {  }
.gameover {
	background: black;
	color: white;
	display: none;
	font-size: 40pt;
	height: 100px;
	margin-left: -200px;
	position: fixed;
	top: 20%; left: 50%;
	width: 400px;
}